@model CommentViewModel
@using RecipesHeaven.Web.ViewModels.Comment;

<hr />
<div class="row">
    <div class="col-md-12">
        <b>@Model.AuthorName</b>
        <p>@Model.Content</p>
    </div>
</div>

