@model IEnumerable<RecipeOverviewModel>
@using RecipesHeaven.Web.ViewModels.Recipe;

<div class="row">
    @foreach (var recipe in Model)
    {
        @Html.Partial("_RecipeBox", recipe);
    }
</div>